AI_Project/Dify/知识库问答.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 知识库问答
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: document-extractor
      id: 1761283447148-source-1761563690861-target
      source: '1761283447148'
      sourceHandle: source
      target: '1761563690861'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: llm
      id: 1761563690861-source-1761563718124-target
      source: '1761563690861'
      sourceHandle: source
      target: '1761563718124'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1761563718124-source-1761563753040-target
      source: '1761563718124'
      sourceHandle: source
      target: '1761563753040'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: true
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 文件
          max_length: 5
          options: []
          required: false
          type: file-list
          variable: wenjian
        - label: 提问
          max_length: 200
          options: []
          required: true
          type: text-input
          variable: query
      height: 115
      id: '1761283447148'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1761283447148'
        - wenjian
      height: 91
      id: '1761563690861'
      position:
        x: 207.77492646368597
        y: 393.7524856571747
      positionAbsolute:
        x: 207.77492646368597
        y: 393.7524856571747
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1761563690861'
          - text
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-vl-max-0809
          provider: tongyi
        prompt_template:
        - id: 1c9b5821-d852-4da4-ac09-692510b615e5
          role: system
          text: 基于上传的{{#1761563690861.text#}}回答用户的问题
        - id: ff8783bd-789f-4666-9f0b-7f5f01b16c26
          role: user
          text: '{{#1761283447148.query#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1761563718124'
      position:
        x: 330.177137270777
        y: 497.9831693951164
      positionAbsolute:
        x: 330.177137270777
        y: 497.9831693951164
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1761563718124'
          - text
          variable: 回复
        selected: false
        title: 回复
        type: end
      height: 89
      id: '1761563753040'
      position:
        x: 460.10114999710095
        y: 640.8974058605418
      positionAbsolute:
        x: 460.10114999710095
        y: 640.8974058605418
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 189.97244569340035
      y: -102.4851078666818
      zoom: 0.720061418959502
